<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ECMA Script2016</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    ECMA Script2016
    <script src="/js/index.js" charset="utf-8"></script>
</body>
</html>